<div class="container">


  <section class="fondo-seccion-primary">

    <div class="vh-100 row align-items-center justify-content-center g-0">

      <div class="col-lg-7 col-md-12 col-sm-12 text-center animate__animated animate__fadeIn">
        <img src="./assets/img/foto.jpg" class="img-fluid shadow-lg img" alt="Imagen presentación">
      </div>

      <div class="col-lg-5 col-md-12 text-center col-sm-12 animate__animated animate__fadeIn">
        <h2 class="text-family-times text-color-secondary fw-bold text-titulo">Felipe Rafael</h2>
        <p class="text-family-courier text-subTitulo">Programador</p>
        <hr class="linea-adorno" />

        <div class="mb-3 mt-3">

          <a href="https://www.instagram.com/felipe_rmm/" class="text-dark" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather text-hover feather-instagram">
              <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
              <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/felipe-rafael-montenegro-morriberon-a79a341b2?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B8Kedu8DiTSu6SFQfWhZx4g%3D%3D"
            class="text-dark" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather text-hover ms-2 feather-linkedin">
              <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
              <rect x="2" y="9" width="4" height="12"></rect>
              <circle cx="4" cy="4" r="2"></circle>
            </svg>
          </a>
          <a href="https://github.com/UBF21" class="text-dark" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather text-hover ms-2 feather-github">
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
              </path>
            </svg>
          </a>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/felipe-rafael-montenegro-morriberon-a79a341b2?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B8Kedu8DiTSu6SFQfWhZx4g%3D%3D"
            target="_blank" class="btn btn-outline-dark btn-lg">
            Contacto
          </a>
          <a href="https://drive.google.com/file/d/1XDKHcStNoOCuuFkIEuM10EorleEZPXY7/view?usp=sharing" target="_blank"
            class="btn btn-outline-dark ms-2 btn-lg">
            Descargar CV
          </a>
        </div>
      </div>

    </div>


  </section>





  <section class="p-4 rounded-top fondo-seccion-secondary mt-4" id="about">
    <h3 class="text-white mt-4  text-family-times fw-bold text-titulo">Acerca de mi</h3>
    <hr class="linea-adorno-left" />
    <p class="text-white text-break text-parrafo text-family-monospace lh-lg">
      ¡Hola! Soy Felipe, un apasionado del mundo del desarrollo con un enfoque versátil y apertura a diferentes
      facetas tecnológicas. Mi viaje en el ámbito del desarrollo ha sido una aventura emocionante, explorando las
      profundidades de la creación de aplicaciones, diseño web, y sistemas ingeniosos.
    </p>
    <p class="text-white text-break  text-parrafo  text-family-monospace lh-lg">
      Mi enfoque abarca tanto el desarrollo de aplicaciones como la creación de experiencias web cautivadoras. Creo en
      la importancia de la usabilidad y la elegancia en el diseño, y busco constantemente maneras de mejorar y optimizar
      tanto la interfaz como la funcionalidad.
    </p>
    <p class="text-white text-break  text-parrafo  text-family-monospace lh-lg">
      En mi tiempo libre, disfruto explorar nuevas tecnologías, participar en proyectos de código abierto y compartir
      conocimientos con la comunidad. Creo firmemente en el aprendizaje continuo y estoy emocionado por lo que el futuro
      del desarrollo tiene reservado.
    </p>


    <!-- iconos de redes sociales -->
    <div class="mb-4 mt-4">

      <a href="https://www.instagram.com/felipe_rmm/" class="text-light" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather text-hover feather-instagram">
          <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
          <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
        </svg>
      </a>
      <a href="https://www.linkedin.com/in/felipe-rafael-montenegro-morriberon-a79a341b2?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B8Kedu8DiTSu6SFQfWhZx4g%3D%3D"
        class="text-light" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather text-hover ms-2 feather-linkedin">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
          <rect x="2" y="9" width="4" height="12"></rect>
          <circle cx="4" cy="4" r="2"></circle>
        </svg>
      </a>
      <a href="https://github.com/UBF21" class="text-light" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather text-hover ms-2 feather-github">
          <path
            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
          </path>
        </svg>
      </a>
    </div>
    <a href="https://www.linkedin.com/in/felipe-rafael-montenegro-morriberon-a79a341b2?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B8Kedu8DiTSu6SFQfWhZx4g%3D%3D"
      target="_blank" class="btn btn-outline-light mb-2 btn-lg">Contacto</a>
    <a href="https://drive.google.com/file/d/1XDKHcStNoOCuuFkIEuM10EorleEZPXY7/view?usp=sharing" target="_blank"
      class="btn btn-outline-light mb-2 ms-2 btn-lg">Descargar CV</a>

  </section>

  <section class="p-3 fondo-seccion-primary" id="experience">
    <h3 class="mt-0 mt-lg-5 text-family-times text-color-secondary fw-bold text-titulo">Experiencia</h3>
    <hr class="linea-adorno-left" />


    <ng-container *ngFor="let experience of experiencies;let i = index">
      <!-- Experiencia de Trabajo-->
      <div class="mt-5">
        <p class="fst-italic">{{ experience.fechaInicio }} - {{ experience.fechaFinal }}</p>
        <h4 class="text-subTitulo">{{ experience.puesto }} ( {{ experience.empresa }} )</h4>
        <p class="text-break  text-parrafo  text-family-monospace lh-lg">{{ experience.descripcion | slice:0:125 }}...
        </p>

        <!-- Información detallada del trabajo -->

        <p>
          <a class="hover-collapse nav-link text-parrafo-small p-0 text-family-monospace" data-bs-toggle="collapse"
            [href]="'#trabajo' + i" role="button" aria-expanded="true" aria-controls="trabajo1">
            Ver<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-arrow-down">
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <polyline points="19 12 12 19 5 12"></polyline>
            </svg>
          </a>
        </p>
        <div class="collapse" [id]="'trabajo' + i">
          <div class="p-4  rounded-top fondo-seccion-third">

            <!-- presentación del trabajo -->
            <div class="text-center mb-5">
              <h3 class="text-subTitulo" style="color:#061c29">{{ experience.puesto }}</h3>
              <!-- <p class="text-break   text-parrafo  text-family-monospace lh-lg"></p> -->
              <p class="fst-italic">{{ experience.fechaInicio }} - {{ experience.fechaFinal }}</p>
            </div>


            <!-- informacion adicional y descripción del trabajo -->
            <div class="mt-5">
              <p class="text-break mb-4  text-parrafo  text-family-monospace lh-lg">{{ experience.descripcion }}</p>

              <h3 class="fs-3 mb-1" style="color: #400403;">Características claves</h3>

              <ul class="ms-1 mt-4 mb-0 ps-4" *ngFor="let caracteristica of experience.caracteristicas">
                <li class="text-break mb-2 text-parrafo-small  text-family-monospace">{{ caracteristica.descripcion }}
                </li>
              </ul>

              <h4 class="fs-4 mt-4" style="color: #400403;">Tecnologías</h4>

              <div class="row mt-5 justify-content-center">
                <div class="col-6 col-sm-6 col-md-4 col-lg-2 text-center fw-bold"
                  *ngFor="let tecnologia of experience.tecnologias">
                  <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">{{ tecnologia.descripcion }}</p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </ng-container>

  </section>

</div>