<div class="container">


  <section class="fondo-seccion-primary">

    <div class="vh-100 row align-items-center justify-content-center  ms-1 me-5 g-0">

      <div class="col-lg-7 col-md-12 col-sm-12 text-center">
        <img src="./assets/img/foto.jpg" class="img-fluid shadow-lg img" alt="Imagen presentación">

      </div>

      <div class="col-lg-5 col-md-12 text-center col-sm-12">
        <h1 class="text-family-times text-color-secondary fw-bold text-titulo">Felipe Rafael</h1>
        <p class="text-family-courier text-subTitulo">Desarrollador y Programador</p>
        <hr class="linea-adorno" />
        <div class="mb-3 mt-3">

          <a href="https://www.instagram.com/felipe_rmm/" class="text-dark" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather text-hover feather-instagram">
              <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
              <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/felipe-rafael-montenegro-morriberon-a79a341b2?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B8Kedu8DiTSu6SFQfWhZx4g%3D%3D"
            class="text-dark" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather text-hover ms-2 feather-linkedin">
              <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
              <rect x="2" y="9" width="4" height="12"></rect>
              <circle cx="4" cy="4" r="2"></circle>
            </svg>
          </a>
          <a href="https://github.com/UBF21" class="text-dark" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather text-hover ms-2 feather-github">
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
              </path>
            </svg>
          </a>
        </div>
        <a href="https://www.linkedin.com/in/felipe-rafael-montenegro-morriberon-a79a341b2?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B8Kedu8DiTSu6SFQfWhZx4g%3D%3D"
        target="_blank" class="btn btn-outline-dark mb-2 btn-lg">Contacto</a>
        <a href="https://drive.google.com/file/d/1OiGTTq1AO7AkMoRitzpOX7DiFd48riRy/view?usp=share_link" target="_blank"
          class="btn btn-outline-dark ms-2 btn-lg">Descargar CV</a>
      </div>

    </div>


  </section>





  <section class="vh-75 p-4 rounded-top fondo-seccion-secondary" id="about">
    <h2 class="text-white mt-4  text-family-times fw-bold text-titulo">Acerca de mi</h2>
    <hr class="linea-adorno-left" />
    <p class="text-white text-break text-parrafo text-family-monospace  lh-lg">Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Libero neque qui
      vero in,
      magni
      consequatur natus aut
      temporibus laboriosam, quaerat vel doloremque autem nam nisi perferendis cum repellendus doloribus quis deleniti
      sequi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque expedita aliquid vel, quisquam soluta totam
      pariatur nesciunt beatae eligendi sit quidem aperiam id vitae dolore incidunt ab minus eius dolor, nemo
      reprehenderit.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis in tempore similique, error nobis nisi nulla
      blanditiis iusto aspernatur magnam, aperiam modi mollitia labore explicabo! Corrupti inventore voluptates, ab quas
      ratione rem tenetur nulla voluptas cumque nam architecto? Magni at eos suscipit molestias cumque et aliquid modi,
      quibusdam dolore excepturi error. In, tempore delectus.
    </p>
    <p class="text-white text-break  text-parrafo  text-family-monospace lh-lg">Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Libero neque qui
      vero in,
      magni
      consequatur natus aut
      temporibus laboriosam, quaerat vel doloremque autem nam nisi perferendis cum repellendus doloribus quis deleniti
      sequi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque expedita aliquid vel, quisquam soluta totam
      pariatur nesciunt beatae eligendi sit quidem aperiam id vitae dolore incidunt ab minus eius dolor, nemo
      reprehenderit.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis in tempore similique, error nobis nisi nulla
      blanditiis iusto aspernatur magnam, aperiam modi mollitia labore explicabo! Corrupti inventore voluptates, ab quas
      ratione rem tenetur nulla voluptas cumque nam architecto? Magni at eos suscipit molestias cumque et aliquid modi,
      quibusdam dolore excepturi error. In, tempore delectus.
    </p>


    <!-- iconos de redes sociales -->
    <div class="mb-4 mt-4">

      <a href="https://www.instagram.com/felipe_rmm/" class="text-light" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather text-hover feather-instagram">
          <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
          <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
        </svg>
      </a>
      <a href="https://www.linkedin.com/in/felipe-rafael-montenegro-morriberon-a79a341b2?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B8Kedu8DiTSu6SFQfWhZx4g%3D%3D"
        class="text-light" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather text-hover ms-2 feather-linkedin">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
          <rect x="2" y="9" width="4" height="12"></rect>
          <circle cx="4" cy="4" r="2"></circle>
        </svg>
      </a>
      <a href="https://github.com/UBF21" class="text-light" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather text-hover ms-2 feather-github">
          <path
            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
          </path>
        </svg>
      </a>
    </div>
    <a href="https://www.linkedin.com/in/felipe-rafael-montenegro-morriberon-a79a341b2?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B8Kedu8DiTSu6SFQfWhZx4g%3D%3D"
      target="_blank" class="btn btn-outline-light mb-2 btn-lg">Contacto</a>
    <a href="https://drive.google.com/file/d/1OiGTTq1AO7AkMoRitzpOX7DiFd48riRy/view?usp=share_link" target="_blank"
      class="btn btn-outline-light mb-2 ms-2 btn-lg">Descargar CV</a>

  </section>

  <section class=" p-4 fondo-seccion-primary" id="experience">
    <h2 class="mt-5 text-family-times text-color-secondary fw-bold text-titulo">Experiencia</h2>
    <hr class="linea-adorno-left" />


    <!-- Experiencia de Trabajo-->
    <div class="mt-5">
      <p class="fst-italic">Enero 2020 - Actualmente</p>
      <h3 class="text-subTitulo">Maquetador - Desarrollador Web</h3>
      <p class="text-break  text-parrafo  text-family-monospace lh-lg">
        Encargado del desarrollo de maquetado de paginas web de la empresa <span class="fw-bold">EFAS</span>.
      </p>

      <!-- Información detallada del trabajo -->

      <p>
        <a class="hover-collapse nav-link text-parrafo-small p-0 text-family-monospace" data-bs-toggle="collapse" href="#trabajo1"
          role="button" aria-expanded="true" aria-controls="trabajo1">
          Ver<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-arrow-down">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <polyline points="19 12 12 19 5 12"></polyline>
          </svg>
        </a>
      </p>
      <div class="collapse" id="trabajo1">
        <div class="p-4  rounded-top fondo-seccion-third">

          <!-- presentación del trabajo -->
          <div class="text-center mb-5">
            <h3 class="text-subTitulo" style="color:#061c29">Maquetador - Desarrollador Web</h3>
            <p class="text-break   text-parrafo  text-family-monospace lh-lg">
              Encargado del desarrollo de maquetado de paginas web de la empresa <span class="fw-bold">EFAS</span>.
            </p>
            <p class="fst-italic">Enero 2020 - Actualmente</p>
          </div>


          <!-- informacion adicional y descripción del trabajo -->
          <div class="mt-5">
            <p class="text-break mb-4  text-parrafo  text-family-monospace lh-lg">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia expedita velit ratione, quo asperiores
              ad est sunt excepturi dolores alias quas quod architecto minus consequuntur quasi ea odio sequi
              temporibus? Odio, aspernatur sunt aliquam a laudantium sint cum ex at animi ad assumenda tempore enim. Id,
              quas iste corrupti dolorum quibusdam distinctio mollitia non magnam voluptatem.
            </p>

            <h3 class="fs-3 mb-1" style="color: #400403;">Características claves</h3>

            <ol class="ms-1 mt-4 mb-0 ps-4">
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Desarrollo de <span
                  class="fw-bold">UI</span>.</li>
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Diseño de prototipos en <span
                  class="fw-bold">Figma</span>.</li>
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Analísis de <span
                  class="fw-bold">UX</span>.</li>
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Maquetado de interfaces con <span
                  class="fw-bold">HTML</span>, <span class="fw-bold">CSS</span> y <span class="fw-bold">Boostrap
                  5</span></li>
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Mantenimiento de páginas de la
                empresa.</li>
            </ol>

            <h4 class="fs-4 mt-4" style="color: #400403;">Tecnologías</h4>

            <div class="row mt-5 justify-content-center">
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">HTML</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">CSS</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Bootstrap 5</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Jquery</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Javascript</p>
              </div>
            </div>
            <div class="row mt-5 justify-content-center">
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Angular</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Node</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Java</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Spring Boot</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">MySql</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>


    <!-- Experiencia de Trabajo-->
    <div class="mt-5">
      <p class="fst-italic">Enero 2020 - Actualmente-</p>
      <h3 class="text-subTitulo">Maquetador - Desarrollador Web</h3>
      <p class="text-break  text-parrafo  text-family-monospace lh-lg">
        Encargado del desarrollo de maquetado de paginas web de la empresa <span class="fw-bold">EFAS</span>.
      </p>

      <!-- Información detallada del trabajo -->

      <p>
        <a class="hover-collapse nav-link text-parrafo-small p-0 text-family-monospace" data-bs-toggle="collapse" href="#trabajo2"
          role="button" aria-expanded="true" aria-controls="trabajo2">
          Ver<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-arrow-down">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <polyline points="19 12 12 19 5 12"></polyline>
          </svg>
        </a>
      </p>
      <div class="collapse" id="trabajo2">
        <div class="p-4  rounded-top fondo-seccion-third">

          <!-- presentación del trabajo -->
          <div class="text-center mb-5">
            <h3 class="text-subTitulo" style="color:#061c29">Maquetador - Desarrollador Web</h3>
            <p class="text-break   text-parrafo  text-family-monospace lh-lg">
              Encargado del desarrollo de maquetado de paginas web de la empresa <span class="fw-bold">EFAS</span>.
            </p>
            <p class="fst-italic">Enero 2020 - Actualmente</p>
          </div>


          <!-- informacion adicional y descripción del trabajo -->
          <div class="mt-5">
            <p class="text-break mb-4  text-parrafo  text-family-monospace lh-lg">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia expedita velit ratione, quo asperiores
              ad est sunt excepturi dolores alias quas quod architecto minus consequuntur quasi ea odio sequi
              temporibus? Odio, aspernatur sunt aliquam a laudantium sint cum ex at animi ad assumenda tempore enim. Id,
              quas iste corrupti dolorum quibusdam distinctio mollitia non magnam voluptatem.
            </p>

            <h3 class="fs-3 mb-1" style="color: #400403;">Características claves</h3>

            <ol class="ms-1 mt-4 mb-0 ps-4">
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Desarrollo de <span
                  class="fw-bold">UI</span>.</li>
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Diseño de prototipos en <span
                  class="fw-bold">Figma</span>.</li>
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Analísis de <span
                  class="fw-bold">UX</span>.</li>
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Maquetado de interfaces con <span
                  class="fw-bold">HTML</span>, <span class="fw-bold">CSS</span> y <span class="fw-bold">Boostrap
                  5</span></li>
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Mantenimiento de páginas de la
                empresa.</li>
            </ol>

            <h4 class="fs-4 mt-4" style="color: #400403;">Tecnologías</h4>

            <div class="row mt-5 justify-content-center">
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">HTML</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">CSS</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Bootstrap 5</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Jquery</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Javascript</p>
              </div>
            </div>
            <div class="row mt-5 justify-content-center">
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Angular</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Node</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Java</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Spring Boot</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">MySql</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>


    <!-- Experiencia de Trabajo-->
    <div class="mt-5">
      <p class="fst-italic">Enero 2020 - Marzo 2022</p>
      <h3 class="text-subTitulo">Maquetador - Desarrollador Web</h3>
      <p class="text-break  text-parrafo  text-family-monospace lh-lg">
        Encargado del desarrollo de maquetado de paginas web de la empresa <span class="fw-bold">EFAS</span>.
      </p>

      <!-- Información detallada del trabajo -->

      <p>
        <a class="hover-collapse nav-link text-parrafo-small p-0 text-family-monospace" data-bs-toggle="collapse" href="#trabajo3"
          role="button" aria-expanded="true" aria-controls="trabajo3">
          Ver<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-arrow-down">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <polyline points="19 12 12 19 5 12"></polyline>
          </svg>
        </a>
      </p>
      <div class="collapse" id="trabajo3">
        <div class="p-4  rounded-top fondo-seccion-third">

          <!-- presentación del trabajo -->
          <div class="text-center mb-5">
            <h3 class="text-subTitulo" style="color:#061c29">Maquetador - Desarrollador Web</h3>
            <p class="text-break   text-parrafo  text-family-monospace lh-lg">
              Encargado del desarrollo de maquetado de paginas web de la empresa <span class="fw-bold">EFAS</span>.
            </p>
            <p class="fst-italic">Enero 2020 - Actualmente</p>
          </div>


          <!-- informacion adicional y descripción del trabajo -->
          <div class="mt-5">
            <p class="text-break mb-4  text-parrafo  text-family-monospace lh-lg">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia expedita velit ratione, quo asperiores
              ad est sunt excepturi dolores alias quas quod architecto minus consequuntur quasi ea odio sequi
              temporibus? Odio, aspernatur sunt aliquam a laudantium sint cum ex at animi ad assumenda tempore enim. Id,
              quas iste corrupti dolorum quibusdam distinctio mollitia non magnam voluptatem.
            </p>

            <h3 class="fs-3 mb-1" style="color: #400403;">Características claves</h3>

            <ol class="ms-1 mt-4 mb-0 ps-4">
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Desarrollo de <span
                  class="fw-bold">UI</span>.</li>
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Diseño de prototipos en <span
                  class="fw-bold">Figma</span>.</li>
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Analísis de <span
                  class="fw-bold">UX</span>.</li>
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Maquetado de interfaces con <span
                  class="fw-bold">HTML</span>, <span class="fw-bold">CSS</span> y <span class="fw-bold">Boostrap
                  5</span></li>
              <li class="text-break mb-2 text-parrafo-small  text-family-monospace">Mantenimiento de páginas de la
                empresa.</li>
            </ol>

            <h4 class="fs-4 mt-4" style="color: #400403;">Tecnologías</h4>

            <div class="row mt-5 justify-content-center">
              <div class="col-lg-2 col-md-3 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">HTML</p>
              </div>
              <div class="col-lg-2  col-md-3 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">CSS</p>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Bootstrap 5</p>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Jquery</p>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Javascript</p>
              </div>
            </div>
            <div class="row mt-5 justify-content-center">
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Angular</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Node</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Java</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">Spring Boot</p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 text-center fw-bold">
                <p class="text-parrafo-small p-3 badge rounded-pill bg-dark">MySql</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </section>

</div>