<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">[ FM ]</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experiencie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portafolio</a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="form-check form-switch">
          <input class="form-check-input mode" type="checkbox" id="flexSwitchCheckChecked" checked>
        </div>
      </form>
    </div>
  </div>
</nav>

<div class="container">


  <section class="fondo-seccion-primary">

    <div class="vh-100 row align-items-center justify-content-center  ms-5 me-5 g-0">

      <div class="col-lg-7 col-md-12 col-sm-12 text-center">
        <img src="./assets/img/foto.jpg" class="img-fluid shadow-lg img" alt="Imagen presentación">

      </div>

      <div class="col-lg-5 col-md-12 text-center col-sm-12">
        <h1 class="text-family-times text-color-secondary fw-bold text-titulo">Felipe Rafael</h1>
        <p class="text-family-courier text-subTitulo">Desarrollador y Programador</p>
        <hr class="linea-adorno" />
        <div class="mb-3 mt-3">

          <a href="https://www.instagram.com/felipe_rmm/" class="text-dark" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather text-hover feather-instagram">
              <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
              <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/felipe-rafael-montenegro-morriberon-a79a341b2?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B8Kedu8DiTSu6SFQfWhZx4g%3D%3D"
            class="text-dark" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather text-hover ms-2 feather-linkedin">
              <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
              <rect x="2" y="9" width="4" height="12"></rect>
              <circle cx="4" cy="4" r="2"></circle>
            </svg>
          </a>
          <a href="https://github.com/UBF21" class="text-dark" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather text-hover ms-2 feather-github">
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
              </path>
            </svg>
          </a>
        </div>
        <button type="button" class="btn btn-outline-dark btn-lg">Contacto</button>
        <button type="button" class="btn btn-outline-dark ms-2 btn-lg">Descargar CV</button>
      </div>

    </div>


  </section>





  <section class="vh-75 p-4 rounded-top fondo-seccion-secondary">
    <h2 class="text-white mt-4  text-family-times fw-bold text-titulo">Acerca de mi</h2>
    <hr class="linea-adorno-left" />
    <p class="text-white text-break text-parrafo text-family-monospace  lh-lg">Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Libero neque qui
      vero in,
      magni
      consequatur natus aut
      temporibus laboriosam, quaerat vel doloremque autem nam nisi perferendis cum repellendus doloribus quis deleniti
      sequi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque expedita aliquid vel, quisquam soluta totam
      pariatur nesciunt beatae eligendi sit quidem aperiam id vitae dolore incidunt ab minus eius dolor, nemo
      reprehenderit.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis in tempore similique, error nobis nisi nulla
      blanditiis iusto aspernatur magnam, aperiam modi mollitia labore explicabo! Corrupti inventore voluptates, ab quas
      ratione rem tenetur nulla voluptas cumque nam architecto? Magni at eos suscipit molestias cumque et aliquid modi,
      quibusdam dolore excepturi error. In, tempore delectus.
    </p>
    <p class="text-white text-break  text-parrafo  text-family-monospace lh-lg">Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Libero neque qui
      vero in,
      magni
      consequatur natus aut
      temporibus laboriosam, quaerat vel doloremque autem nam nisi perferendis cum repellendus doloribus quis deleniti
      sequi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque expedita aliquid vel, quisquam soluta totam
      pariatur nesciunt beatae eligendi sit quidem aperiam id vitae dolore incidunt ab minus eius dolor, nemo
      reprehenderit.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis in tempore similique, error nobis nisi nulla
      blanditiis iusto aspernatur magnam, aperiam modi mollitia labore explicabo! Corrupti inventore voluptates, ab quas
      ratione rem tenetur nulla voluptas cumque nam architecto? Magni at eos suscipit molestias cumque et aliquid modi,
      quibusdam dolore excepturi error. In, tempore delectus.
    </p>


    <!-- iconos de redes sociales -->
    <div class="mb-4 mt-4">

      <a href="https://www.instagram.com/felipe_rmm/" class="text-light" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather text-hover feather-instagram">
          <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
          <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
        </svg>
      </a>
      <a href="https://www.linkedin.com/in/felipe-rafael-montenegro-morriberon-a79a341b2?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B8Kedu8DiTSu6SFQfWhZx4g%3D%3D"
        class="text-light" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather text-hover ms-2 feather-linkedin">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
          <rect x="2" y="9" width="4" height="12"></rect>
          <circle cx="4" cy="4" r="2"></circle>
        </svg>
      </a>
      <a href="https://github.com/UBF21" class="text-light" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather text-hover ms-2 feather-github">
          <path
            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
          </path>
        </svg>
      </a>
    </div>
    <button type="button" class="btn btn-outline-light mb-2 btn-lg">Contacto</button>
    <button type="button" class="btn btn-outline-light mb-2 ms-2 btn-lg">Descargar CV</button>

  </section>

  <section class="vh-100 p-4 fondo-seccion-primary">
    <h2 class="mt-5 text-family-times text-color-secondary fw-bold text-titulo">Experiencia</h2>
    <hr class="linea-adorno-left" />

    <div class="mt-5">
      <p class="fst-italic">Enero 2020 - Actualmente</p>
      <h3 class="text-subTitulo">Maquetador - Desarrollador Web</h3>
      <p class="text-break  text-parrafo  text-family-monospace lh-lg">
        Encargado del desarrollo de maquetado de paginas web de la empresa <span class="fw-bold">EFAS</span>.
      </p>

      <!-- Información detallada del trabajo -->

      <p class="">
        <a class="nav-item text-family-monospace" data-bs-toggle="collapse" href="#collapseExample" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          Ver más...
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="p-4  rounded-top fondo-seccion-third">

          <!-- presentación del trabajo -->
          <div class="text-center">
            <h3 class="text-subTitulo" style="color:#061c29">Maquetador - Desarrollador Web</h3>
            <p class="text-break   text-parrafo  text-family-monospace lh-lg">
              Encargado del desarrollo de maquetado de paginas web de la empresa <span class="fw-bold">EFAS</span>.
            </p>
            <p class="fst-italic">Enero 2020 - Actualmente</p>
          </div>


          <!-- informacion adicional y descripción del trabajo -->


        </div>
      </div>

    </div>

  </section>

</div>


<router-outlet></router-outlet>